<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">DIRECTOR</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Registrar grupo de investigación</span>
            </div>
            <span class="title">Registrar grupo de investigación</span>
            <span class="md-subhead">Aquí podrás registrar grupos de investigación para que los semilleros puedan vincularse a ellos.</span>
        </div>
    </div>
    <!-- / HEADER -->
    <div class="container">
        <div style="padding: 25px;" layout="column" ng-cloak class="md-horintal-form">
            <div layout="row">
                <div flex layout="row" layout-align="center center">
                    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="90" flex-gt-lg="50" class="md-whiteframe-z2">
                        <md-content layout-padding>
                            <center><span class="md-display-1">Registrar grupo de investigación</span></center>
                            <form name="registroForm">
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Código del grupo</label>
                                        <input id="codigo" ng-model="vm.grupo.codigo" required name="codigo" autofocus>

                                        <div ng-messages="registroForm.codigo.$error">
                                            <div ng-message="required">Este campo es obligatorio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Nombre</label>
                                        <input id="nombre" ng-model="vm.grupo.nombre" required name="nombre">
                                        <div ng-messages="registroForm.nombre.$error">
                                            <div ng-message="required">Este campo es obligatorio.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-icon-float md-block" flex-gt-sm>
                                        <label>Líder</label>
                                        <md-icon md-svg-src="assets/angular-material-assets/img/icons/account-search.svg" class="md-primary md-raised" ng-click="vm.showAdvanced($event)" style="cursor: pointer;" id="ico-lider"></md-icon>
                                        <input ng-model="vm.grupo.lider" type="text" name="lider" id="lider" disabled required>
                                        <div ng-messages="registroForm.lider.$error">
                                            <div ng-message="required">Este campo es obligatorio.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Clasificación</label>
                                        <md-select id="clasificacion" name="clasificacion" ng-model="vm.grupo.clasificacion" required>
                                            <md-option id="clasificacion-a">A</md-option>
                                            <md-option id="clasificacion-b">B</md-option>
                                            <md-option id="clasificacion-c">C</md-option>
                                            <md-option id="clasificacion-d">D</md-option>
                                        </md-select>
                                        <div ng-messages="registroForm.clasificacion.$error">
                                            <div ng-message="required">Este campo es obligatorio.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Enlace del GrupLAC</label>
                                        <input id="gruplac" type="url" ng-model="vm.grupo.gruplac" name="gruplac">
                                        <div ng-messages="registroForm.gruplac.$error" role="alert">
                                            <div ng-message="url" class="message">
                                                <span>Este campo debe ser una URL válida.</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div flex layout="row" layout-align="center center">
                                    <md-button id="btn-guardar" ng-click="vm.guardar(registroForm)" type="submit" class="md-raised md-accent submit-button" aria-label="Aceptar" ng-disabled="registroForm.$invalid || registroForm.$pristine">Guardar
                                    </md-button>
                                    <md-button id="btn-limpiar" type="button" ng-click="vm.limpiar(registroForm)" class="md-raised md-accent submit-button" aria-label="Cancelar">Limpiar datos
                                    </md-button>
                                </div>
                            </form>
                        </md-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>