<div id="register" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form-tutor" class="md-whiteframe-9dp">
            <md-button ng-click="vm.atras()" style="float: left" class="md-icon-button md-primary"
                       aria-label="Settings">
                <md-icon md-svg-icon="assets/angular-material-assets/img/icons/ic_arrow_back_24px.svg"></md-icon>
            </md-button>
            <center style="float: inherit"><span class="md-display-1">Regístrate como tutor</span></center>
            <br>
            <form name="registroForm">
                <style>
                    .layout-gt-sm-row {
                        margin: -5px;
                    }
                </style>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Nombres</label>
                        <input ng-model="vm.tutor.nombres" required name="nombre" autofocus
                               ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="registroForm.nombre.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Apellidos</label>
                        <input ng-model="vm.tutor.apellidos" required name="apellidos"
                               ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="registroForm.apellidos.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Tipo de documento</label>
                        <md-select required name="tipo_documento" ng-model="vm.tutor.tipo_documento" required>
                            <md-option value="C.C">C.C</md-option>
                            <md-option value="C.E">C.E</md-option>
                        </md-select>
                        <div ng-messages="registroForm.tipo_documento.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Identificación</label>
                        <input ng-model="vm.tutor.identificacion" type="number" required name="identificacion"
                               minlength="7" maxlength="10" min="0" ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="registroForm.identificacion.$error">
                            <div ng-message="required">Este campo es obligatorio</div>
                            <div ng-message="minlength">Ese campo debe contener al menos 11 numeros.</div>
                            <div ng-message="maxlength">Ha ecxedido la longitud de numeros para este campo (min: 11).
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Género</label>
                        <md-select required name="sexo" ng-model="vm.tutor.sexo" required>
                            <md-option value="F">Femenino</md-option>
                            <md-option value="M">Masculino</md-option>
                            <md-option value="O">Otro</md-option>
                        </md-select>
                        <div ng-messages="registroForm.sexo.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <mdp-date-picker ng-change="vm.cambiarFechaNacimientoMax()"
                                     ng-model="vm.tutor.fecha_expedicion"
                                     mdp-min-date="vm.fechaExpedicionMin"
                                     mdp-max-date="vm.fechaExpedicionMax"
                                     mdp-open-on-click required
                                     name="fecha_expedicion"
                                     mdp-placeholder="Fecha de expedición"
                                     mdp-format="DD/MM/YYYY"
                                     flex-gt-sm>
                        <div ng-messages="demoForm.fecha_expedicion.$error">
                            <div ng-message="required">Este campo es requerido</div>
                            <div ng-message="format">Formato invalido</div>
                        </div>
                    </mdp-date-picker>
                    <mdp-date-picker ng-change="vm.cambiarFechaExpedicionMin()"
                                     ng-model="vm.tutor.fecha_nacimiento"
                                     mdp-max-date="vm.fechaNacimientoMax"
                                     mdp-open-on-click required
                                     name="fecha_nacimiento"
                                     mdp-placeholder="Fecha de nacimiento"
                                     mdp-format="DD/MM/YYYY"
                                     flex-gt-sm>
                        <div ng-messages="demoForm.fecha_nacimiento.$error">
                            <div ng-message="required">Este campo es requerido</div>
                            <div ng-message="format">Formato invalido</div>
                        </div>
                    </mdp-date-picker>
                </div>
                <br>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Dirección de residencia</label>
                        <input ng-model="vm.tutor.direccion" required name="direccion"
                               ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="registroForm.direccion.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Celular</label>
                        <input ng-model="vm.tutor.celular" type="number" minlength="10" maxlength="10" min="0"
                               name="celular" ng-pattern="/\b3\B/" ng-model-options="{ updateOn: 'blur' }"
                               required>
                        <div ng-messages="registroForm.celular.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                            <div ng-message="pattern">El numero de celular debe empezar por 3</div>
                            <div ng-message="minlength">El celular no contiene 10 digitos</div>
                            <div ng-message="maxlength">El celular que desea registrar excede el límite de diez
                                digitos
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Correo personal</label>
                        <input ng-model="vm.tutor.email_personal" type="email" placeholder="ejemplo@ejemplo.com"
                               ng-pattern="/^.+@.+\..+$/" required
                               name="email" ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="registroForm.email.$error" role="alert" multiple>
                            <div ng-message="required">
                                <span>Este campo es requrido</span>
                            </div>
                            <div ng-message="pattern">
                                <span>Ingresa una dirección de email valida</span>
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <fieldset class="standard">
                    <legend align="center">Datos de usuario</legend>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Correo institucional</label>
                            <input type="email" name="email" ng-model="vm.tutor.usuario.email"
                                   placeholder="ejemplo@unicesar.edu.co"
                                   ng-pattern="/^.+@.+\..+$/" required ng-model-options="{ updateOn: 'blur' }">
                            <div ng-messages="registroForm.email.$error" role="alert" multiple>
                                <div ng-message="required">
                                    <span>Este campo es requrido</span>
                                </div>
                                <div ng-message="pattern">
                                    <span>Ingresa una dirección de email válida</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="password" name="password" ng-model="vm.tutor.usuario.pass"
                                   ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&#.$($)$-$_])[A-Za-z\d$@$!%*?&#.$($‌​)$-$_]{8,15}$/"
                                   placeholder="Contrase&ntilde;a" ng-model-options="{ updateOn: 'blur' }" required>
                            <div ng-messages="registroForm.$pristine && registroForm.password.$error" role="alert">
                                <div ng-message="required" class="message"><span>Este campo es obligatorio.</span></div>
                                <div ng-message="pattern" class="message"><span>Este campo debe tener como minimo 8 carácteres, una letra mayuscula y un carácter especial</span></div>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </fieldset>
                <div flex layout="row" layout-align="center center">
                    <md-button ng-click="vm.registrarse(registroForm)" type="submit"
                               class="md-raised md-accent submit-button" aria-label="Guardar"
                               ng-disabled="registroForm.$invalid || registroForm.$pristine">Guardar
                    </md-button>
                    <md-button ng-click="vm.atras()" class="md-raised md-accent submit-button" aria-label="Cancelar">
                        Cancelar
                    </md-button>
                </div>
            </form>

        </div>
    </div>
</div>