<div id="login" layout="row" layout-align="start">
    <div id="login-intro" flex hide show-gt-sm>
        <div class="logo md-accent-bg">
            <span>S</span>
        </div>
        <div class="title">
              BINVENIDO A SEMILAC UPC!
        </div>
        <div class="description">
            Aca podras hacer seguimiento de todos los proyectos y semilleros en nuestra institucion
        </div>
    </div>

    <div id="login-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
        <div id="login-form">
            <div class="logo md-accent-bg" hide-gt-sm>
                <span>S</span>
            </div>

            <div class="title">Inicia sesion con tu cuenta</div>

            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.usuario.name" placeholder="Ej: ejemplo@ejemplo.com"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Este campo es requrido</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Ingresa una direccion de email valida</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.usuario.pass" placeholder="Contrase&ntilde;a"
                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span >Este campo es requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <div class="remember-forgot-password" layout="row" layout-sm="column"
                     layout-align="space-between center">
                    <a ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color">
                      ¿Se te olvidó tu contraseña?</a>
                </div>

                <md-button ng-click="vm.iniciarSesion()" type="submit" class="md-raised md-accent submit-button" aria-label="INICIAR SESIÓN"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine">
                    INICIAR SESIÓN
                </md-button>
            </form>

            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text">¿No tienes una cuenta?</span>
                <a class="link" ui-sref="app.pages_auth_register">Crea una ahora</a>
            </div>
        </div>
    </div>
</div>
