<md-toolbar>
    <div class="md-toolbar-tools">
        <div id="consulta">
            <div md-position-mode="left bottom">
                <md-button class="user-button" ng-click="vm.consultarRequisitos()">
                    <div layout="row" layout-align="space-between center">
                        <span class="username" hide-xs>Consultar requisitos</span>
                    </div>
                </md-button>
            </div>
        </div>
        <span flex></span>
        <div id="creala" md-offset="0 72" md-position-mode="target-right target">
            <md-button class="language-button" md-menu-origin md-menu-align-target>
                <div layout="row" layout-align="center center">
                    <span class="iso">Crea tu cuenta como:</span>
                </div>
            </md-button>
        </div>

        <div>
            <div md-position-mode="left bottom">
                <md-button id="tutor" class="user-button" ng-click="vm.registrarTutor()">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">
                        </div>
                        <span class="username" hide-xs>Tutor</span>
                    </div>
                </md-button>
            </div>
        </div>
        <div>
            <div md-position-mode="left bottom">
                <md-button id="estudiante" class="user-button" ng-click="vm.registrarEstudiante()">
                    <div layout="row" layout-align="space-between center">
                        <div class="avatar-wrapper">
                            <img md-menu-align-target class="avatar" src="assets/images/avatars/profile.jpg">
                        </div>
                        <span class="username" hide-xs>Estudiante</span>
                    </div>
                </md-button>
            </div>
        </div>
    </div>
</md-toolbar>
<div id="login" layout="row" layout-align="start">
    <div id="login-intro" flex hide show-gt-sm>
        <div class="logo md-accent-bg">
            <span>S</span>
        </div>
        <div class="title">
            ¡Bienvenido a Semilac-UPC!
        </div>
        <div class="description">
            Acá podrás hacer seguimiento de todos los proyectos y semilleros en nuestra institución.
        </div>
    </div>

    <div id="login-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
        <div id="login-form">
            <div class="logo md-accent-bg" hide-gt-sm>
                <span>S</span>
            </div>

            <div class="title">Inicia sesión con tu cuenta</div>

            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input id="email" type="email" name="email" ng-model="vm.usuario.name" placeholder="Ej: ejemplo@ejemplo.com" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Este campo es requrido</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Ingresa una direccion de email valida</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input id="password" type="password" name="password" ng-model="vm.usuario.pass" placeholder="Contrase&ntilde;a" required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Este campo es requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <!--<div class="remember-forgot-password" layout="row" layout-sm="column"-->
                <!--layout-align="space-between center">-->
                <!--<a ui-sref="app.pages_auth_forgot-password" class="forgot-password md-accent-color">-->
                <!--¿Se te olvidó tu contraseña?</a>-->
                <!--</div>-->

                <md-button id="btn-iniciar-sesion" ng-click="vm.iniciarSesion()" type="submit" class="md-raised md-accent submit-button" aria-label="INICIAR SESIÓN" ng-disabled="loginForm.$invalid || loginForm.$pristine">
                    INICIAR SESIÓN
                </md-button>
            </form>
        </div>
    </div>
</div>