<md-content layout-padding>
    <div class="white-bg md-whiteframe-1dp">
        <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
            <thead>
            <tr>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Nombre semillero</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Tutor</span>
                    </div>
                </th>
                <th class="secondary-text">
                    <div class="table-header">
                        <span class="column-title">Solicitar</span>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="solicitud in vm.solicitudes">
                <td>{{ vm.nombreSemillero(solicitud) }}</td>
                <td>{{ vm.nombreTutor(solicitud) }}</td>
                <td>
                    <md-button ng-click="vm.aceptar(solicitud)"  class="md-raised md-accent submit-button"                      aria-label="Aceptar"
                    >{{solicitud.respuesta}}
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</md-content>