<md-content layout-padding>
    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex="50">
            <label>Semilleros</label>
            <md-select name="semillero" ng-model="vm.tutor.semillero_id" required>
                <md-optgroup label="Semilleros">
                    <md-option ng-value="semillero.id" ng-repeat="semillero in vm.semilleros">{{semillero.nombre}}</md-option>
                </md-optgroup>
            </md-select>
            <div ng-messages="!registroForm.$pristine && registroForm.programa.$error">
                <div ng-message="required">Este campo es obligatorio.</div>
            </div>
        </md-input-container>
        </div>
    <div>
        <table class="dataTable row-border hover" datatable="" dt-options="vm.dtOptions">
            <thead>
            <tr>
                <th>Programas</th>
                <th>Nombre del estudiante</th>
                <th>Solicitud</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='estudiante in vm.estudiantes'>
                <td>{{ vm.getNombreCompleto(estudiante) }}</td>
                <td>{{ vm.getNombrePrograma(estudiante) }}</td>
                <td>
                <button type="button" uploader-model = "vm.activo" class="btn btn-primary" ng-click="vm.enviar(semillero)">enviar</button>
                </td>
            </tr>
           <!-- <tr ng-repeat="programa in vm.programas">
                <td>{{ programa.nombre }}</td>
                <td>{{ vm.buscarEstudiante(programa.estudiante_id) }}</td>
                <td>
                    <button type="button" uploader-model = "vm.estado" class="btn btn-primary" ng-click="vm.enviar(semillero)">enviar</button>
                </td>
            </tr>--->
            </tbody>
        </table>
    </div>
</md-content>


