<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">TUTOR</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Mis grupos de investigación</span>
                <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                <span class="parent">Solicitudes</span>
            </div>
            <span class="title">Solicitudes a mi grupo</span>
            <span class="md-subhead">Aquí podrás responder las solicitudes de los semilleros que quieran pertenecer a tu grupo de investigación</span>
        </div>
    </div>
    <!-- / HEADER -->
    <md-content layout-padding>
        <span ng-if="vm.solicitudes.length==0"> No hay solictudes </span>
        <md-list-item ng-repeat="solicitud in vm.solicitudes" class="noright">
            <p>{{ solicitud.semillero.nombre }}</p>
            <p>quiere pertenecer a tu grupo</p>
            <p>{{ solicitud.grupo.nombre }}</p>
            <md-button class="md-accent md-raised md-hue-1" ng-click="vm.responder(solicitud, 'aceptada')">
                Aceptar
            </md-button>
            <md-button class="md-raised md-warn" ng-click="vm.responder(solicitud, 'rechazada')">Rechazar
            </md-button>
        </md-list-item>
        </md-list>
    </md-content>
</div>