<div id="register" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form-tutor" class="md-whiteframe-9dp">
            <md-button ng-click="vm.atras()" style="float: left" class="md-icon-button md-primary" aria-label="Settings">
                <md-icon md-svg-icon="assets/angular-material-assets/img/icons/ic_arrow_back_24px.svg"></md-icon>
            </md-button>
            <center style="float: inherit"><span class="md-display-1">Regístrate como estudiante</span></center>
            <br>
            <form name="registroForm">
                <style>
                    .layout-gt-sm-row {
                        margin: -5px;
                    }
                </style>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Nombres</label>
                        <input id="nombres" ng-model="vm.estudiante.nombres" required name="nombres" autofocus ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="!registroForm.$pristine && registroForm.nombres.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Apellidos</label>
                        <input id="apellidos" ng-model="vm.estudiante.apellidos" required name="apellidos" ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="!registroForm.$pristine && registroForm.apellidos.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Tipo de documento</label>
                        <md-select id="tipo_documento" name="tipo_documento" ng-model="vm.estudiante.tipo_documento" required>
                            <md-option id="tipo_documento-cc" value="C.C">C.C</md-option>
                            <md-option id="tipo_documento-ti" value="T.I">T.I</md-option>
                            <md-option id="tipo_documento-ce" value="C.E">C.E</md-option>
                        </md-select>
                        <div ng-messages="registroForm.tipo_documento.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Identificación</label>
                        <input id="identificacion" type="number" ng-maxlength="11" ng-minlength="7" ng-model="vm.estudiante.identificacion" required name="identificacion" min="0" ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="!registroForm.$pristine && registroForm.identificacion.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                            <div ng-message="minlength">Ese campo debe contener al menos 7 números.</div>
                            <div ng-message="maxlength">Ha excedido la longitud de números para este campo: mínimo 11.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Género</label>
                        <md-select id="sexo" name="sexo" ng-model="vm.estudiante.sexo" required>
                            <md-option id="sexo-f" value="F">Femenino</md-option>
                            <md-option id="sexo-m" value="M">Masculino</md-option>
                            <md-option id="sexo-otro" value="O">Otro</md-option>
                        </md-select>
                        <div ng-messages="!registroForm.$pristine && registroForm.sexo.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <!--<style>
                        .mdp-date-picker-input-container {
                            width: 85%;
                        }
                        
                        .mdp-date-picker-input {
                            width: 100%;
                        }
                    </style>-->
                    <mdp-date-picker id="fecha_expedicion" ng-model="vm.estudiante.fecha_expedicion" ng-change="vm.cambiarFechaNacimientoMax()" name="fecha_expedicion" mdp-placeholder="Fecha de expedición" mdp-min-date="vm.fechaExpedicionMin" mdp-max-date="vm.fechaExpedicionMax" mdp-open-on-click
                        mdp-format="DD/MM/YYYY" flex-gt-sm required>
                        <div ng-messages="demoForm.fecha_expedicion.$error">
                            <div ng-message="required">Este campo es requerido.</div>
                            <div ng-message="format">Formato inválido.</div>
                        </div>
                    </mdp-date-picker>
                    <mdp-date-picker id="fecha_nacimiento" ng-model="vm.estudiante.fecha_nacimiento" ng-change="vm.cambiarFechaExpedicionMin()" name="fecha_nacimiento" mdp-placeholder="Fecha de nacimiento" mdp-max-date="vm.fechaNacimientoMax" mdp-open-on-click mdp-format="DD/MM/YYYY" flex-gt-sm
                        required>
                        <div ng-messages="demoForm.fecha_nacimiento.$error">
                            <div ng-message="required">Este campo es requerido.</div>
                            <div ng-message="format">Formato inválido.</div>
                        </div>
                    </mdp-date-picker>
                </div>
                <br>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Lugar de expedicion</label>
                        <input id="lugar_expedicion" ng-model="vm.estudiante.lugar_expedicion" required name="lugar_expedicion" ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="!registroForm.$pristine && registroForm.lugar_expedicion.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Lugar de nacimiento</label>
                        <input id="lugar_nacimiento" ng-model="vm.estudiante.lugar_nacimiento" required name="lugar_nacimiento" ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="!registroForm.$pristine && registroForm.lugar_nacimiento.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <!--<div layout-gt-sm="row">-->
                <!--<md-input-container class="md-block" flex-gt-sm>-->
                <!--<label>Universiadad</label>-->
                <!--<input ng-model="vm.estudiante.universidad" required name="universidad">-->
                <!--<div ng-messages="!registroForm.$pristine && registroForm.universidad.$error">-->
                <!--<div ng-message="required">Este campo es obligatorio.</div>-->
                <!--</div>-->
                <!--</md-input-container>-->
                <!--</div>-->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Programa</label>
                        <md-select id="programa" name="programa" ng-model="vm.estudiante.programa_id" required>
                            <md-optgroup label="Programas">
                                <md-option ng-value="programa.id" ng-repeat="programa in vm.programas">{{programa.nombre}}</md-option>
                            </md-optgroup>
                        </md-select>
                        <div ng-messages="!registroForm.$pristine && registroForm.programa.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-st-sm>
                        <label>Semestre</label>
                        <input id="n_semestre" type="number" ng-model="vm.estudiante.n_semestre" required name="n_semestre" min="0" max="30" ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="!registroForm.$pristine && registroForm.n_semestre.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Dirección</label>
                        <input id="direccion" ng-model="vm.estudiante.direccion" required name="direccion" autofocus ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="!registroForm.$pristine && registroForm.direccion.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Celular</label>
                        <input id="celular" ng-model="vm.estudiante.telefono" type="number" minlength="10" maxlength="10" min="0" name="celular" ng-pattern="/\b3\B/" ng-model-options="{ updateOn: 'blur' }">
                        <div ng-messages="!registroForm.$pristine && registroForm.celular.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                            <div ng-message="pattern">El numero de celular debe empezar por 3</div>
                            <div ng-message="minlength">El celular no contiene 10 digitos</div>
                            <div ng-message="maxlength">El celular que desea registrar excede el límite de diez digitos</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-md="40">
                        <label>Estado civil</label>
                        <md-select id="estado_civil" name="estado_civil" ng-model="vm.estudiante.estado_civil" required>
                            <md-option value="Casado">Casado</md-option>
                            <md-option value="Divorciado">Divorciado</md-option>
                            <md-option value="Soltero">Soltero</md-option>
                        </md-select>
                        <div ng-messages="!registroForm.$pristine && registroForm.estado_civil.$error">
                            <div ng-message="required">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-xl="row">
                    <fieldset class="standard">
                        <legend align="center">Datos de usuario</legend>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Correo institucional</label>
                                <input id="email" type="email" name="correo_institucional" ng-model="vm.estudiante.usuario.email" placeholder="ejemplo@unicesar.edu.co" ng-pattern="/^.+@.+\..+$/" required>
                                <div ng-messages="!registroForm.$pristine && registroForm.correo_institucional.$error" role="alert" multiple>
                                    <div ng-message="required">
                                        <span>Este campo es requrido</span>
                                    </div>
                                    <div ng-message="pattern">
                                        <span>Ingresa una dirección de email válida</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <input id="password" type="password" name="password" ng-model="vm.estudiante.usuario.pass" placeholder="Contrase&ntilde;a" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&#.$($)$-$_])[A-Za-z\d$@$!%*?&#.$($‌​)$-$_]{8,15}$/" required>
                                <div ng-messages="!registroForm.$pristine && registroForm.password.$error" role="alert">
                                    <div ng-message="required">
                                        <span>Este campo es requerido</span>
                                    </div>
                                    <div ng-message="pattern" class="message">
                                        <span>La contraseña debe tener como minimo 8 caracteres. Entre ellos: una letra minúscula, una mayúscula y un carácter especial.</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </fieldset>
                </div>
                <div flex layout="row" layout-align="center center">
                    <md-button id="btn-guardar" ng-click="vm.registrarse(registroForm)" type="submit" class="md-raised md-accent submit-button" aria-label="Guardar" ng-disabled="registroForm.$invalid || registroForm.$pristine">Guardar
                    </md-button>
                    <md-button id="btn-cancelar" ng-click="vm.atras()" class="md-raised md-accent submit-button" aria-label="Cancelar">Cancelar
                    </md-button>
                </div>
            </form>
        </div>
    </div>
</div>