<div class="container">
    <div style='padding: 25px;' layout="column" ng-cloak class="md-horintal-form">
        <div layout="row">
            <div flex layout="row" layout-align="center center">
                <div flex-sm="100" flex-gt-sm="90" flex-gt-md="90" flex-gt-lg="50" class="md-whiteframe-z2">
                    <md-content class="md-padding">
                        <center><span class="md-display-1">Registrar Semillero</span></center>
                        <form name="registroForm">
                            <style>
                                .layout-gt-sm-row {
                                    margin: -5px;
                                }
                            </style>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Programa</label>
                                    <md-select name="programa" ng-model="vm.semillero.programa_id" required >
                                        <md-optgroup label="Programas">
                                            <md-option ng-value="programa.id" ng-repeat="programa in vm.programas">{{programa.nombre}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <div ng-messages="!registroForm.$pristine && registroForm.programa.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Grupo de Investigación al que se adscribe:</label>
                                    <md-select name="grupo" ng-model="vm.semillero.grupo_id" required >
                                        <md-optgroup label="Grupos">
                                            <md-option ng-value="grupo.id" ng-repeat="grupo in vm.grupos">{{grupo.nombre}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <div ng-messages="!registroForm.$pristine && registroForm.grupo.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Nombre del semillero</label>
                                    <input ng-model="vm.semillero.nombre" required name="nombre">
                                    <div ng-messages="registroForm.nombre.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Lineas de investigación</label>
                                    <input ng-model="vm.semillero.nombre_linea" required name="nombre_linea">
                                    <div ng-messages="registroForm.nombre_linea.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Objetivo linea</label>
                                    <input ng-model="vm.semillero.objetivo_linea" required name="objetivo_linea">
                                    <div ng-messages="registroForm.objetivo_linea.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Logros de la linea</label>
                                    <input ng-model="vm.semillero.logro_linea" required name="logro_linea">
                                    <div ng-messages="registroForm.logro_linea.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Efectos de la linea</label>
                                    <input ng-model="vm.semillero.efecto_linea" required name="efecto_linea">
                                    <div ng-messages="registroForm.efecto_linea.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Mision del semillero</label>
                                    <input ng-model="vm.semillero.mision" required name="mision">
                                    <div ng-messages="registroForm.mision.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Vision del semillero</label>
                                    <input ng-model="vm.semillero.vision" required name="vision">
                                    <div ng-messages="registroForm.vision.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Objetivo general del semillero</label>
                                    <input ng-model="vm.semillero.objetivo_general" required name="objetivo_general">
                                    <div ng-messages="registroForm.objetivo_general.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <label>Objetivos especificos del semillero</label>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>1.</label>
                                    <input ng-model="vm.semillero.objetivo_uno" required name="objetivo_uno">
                                    <div ng-messages="registroForm.objetivo_uno.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container><br>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>2.</label>
                                    <input ng-model="vm.semillero.objetivo_dos" required name="objetivo_dos">
                                    <div ng-messages="registroForm.objetivo_dos.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container><br>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>3.</label>
                                    <input ng-model="vm.semillero.objetivo_tres" required name="objetivo_tres">
                                    <div ng-messages="registroForm.objetivo_tres.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <label>Estrategis de formación y consolidación</label>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>1.</label>
                                    <input ng-model="vm.semillero.estrategia_uno" required name="estrategia_uno">
                                    <div ng-messages="registroForm.estrategia_uno.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container><br>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>2.</label>
                                    <input ng-model="vm.semillero.estrategia_dos" required name="estrategia_dos">
                                    <div ng-messages="registroForm.estrategia_dos.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container><br>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>3.</label>
                                    <input ng-model="vm.semillero.estrategia_tres" required name="estrategia_tres">
                                    <div ng-messages="registroForm.estrategia_tres.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                           
                            <div flex layout="row" layout-align="center center">
                                <md-button ng-click="vm.registrar()" type="submit" class="md-raised md-accent submit-button" aria-label="Aceptar" ng-disabled="registroForm.$invalid || registroForm.$pristine">Aceptar
                                </md-button>
                                <md-button ng-click="vm.limpiar()" class="md-raised md-accent submit-button" aria-label="Cancelar">Cancelar
                                </md-button>
                            </div>
                        </form>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>