<div class="container">
    <div style='padding: 25px;' layout="column" ng-cloak class="md-horintal-form">
        <div layout="row">
            <div flex layout="row" layout-align="center center">
                <div flex-sm="100" flex-gt-sm="90" flex-gt-md="90" flex-gt-lg="50" class="md-whiteframe-z2">
                    <md-content class="md-padding">
                        <center><span class="md-display-1">Registrar Semillero</span></center>
                        <br>
                        <br>
                        <form name="registroForm">
                            <style>
                                .layout-gt-sm-row {
                                    margin: -10px 0px -24px 0px !important;
                                }
                            </style>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Programa</label>
                                    <md-select name="programa" ng-model="vm.semillero.programa_id" required >
                                        <md-optgroup label="Programas">
                                            <md-option ng-value="programa.id" ng-repeat="programa in vm.programas">{{programa.nombre}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <div ng-messages="!registroForm.$pristine && registroForm.programa.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Grupo al que se adscribe:</label>
                                    <md-select name="grupo" ng-model="vm.semillero.grupo_id" required >
                                        <md-optgroup label="Grupos">
                                            <md-option ng-value="grupo.id" ng-repeat="grupo in vm.grupos">{{grupo.nombre}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <div ng-messages="!registroForm.$pristine && registroForm.grupo.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Nombre del semillero</label>
                                    <textarea ng-model="vm.semillero.nombre" required name="nombre"></textarea>
                                    <div ng-messages="registroForm.nombre.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>  
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Linea de investigación:</label>
                                    <md-select name="linea" ng-model="vm.semillero.linea_id" required >
                                        <md-optgroup label="Lineas">
                                            <md-option ng-value="linea_id" ng-repeat="linea in vm.lineas">{{linea.nombre}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                    <div ng-messages="!registroForm.$pristine && registroForm.linea.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Mision del semillero</label>
                                    <textarea ng-model="vm.semillero.mision" required name="mision"></textarea>
                                    <div ng-messages="registroForm.mision.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Vision del semillero</label>
                                     <textarea ng-model="vm.semillero.vision" required name="vision"></textarea>
                                    <div ng-messages="registroForm.vision.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Objetivo general del semillero</label>
                                    <textarea ng-model="vm.semillero.objetivo_general" required name="objetivo_general"></textarea>
                                    <div ng-messages="registroForm.objetivo_general.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <label style="color:#BDBDBD;">Objetivos especificos del semillero</label>
                            <div layout-gt-sm="row">
                                
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>1.</label>
                                    <textarea ng-model="vm.semillero.objetivo_uno" required name="objetivo_uno"></textarea>
                                    <div ng-messages="registroForm.objetivo_uno.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>2.</label>
                                    <textarea ng-model="vm.semillero.objetivo_dos" required name="objetivo_dos"></textarea>
                                    <div ng-messages="registroForm.objetivo_dos.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>3.</label>
                                    <textarea ng-model="vm.semillero.objetivo_tres" required name="objetivo_tres"></textarea>
                                    <div ng-messages="registroForm.objetivo_tres.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                             <label style="color:#BDBDBD;">Estrategis de formación y consolidación</label><br>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>1.</label>
                                    <textarea ng-model="vm.semillero.estrategia_uno" required name="estrategia_uno"></textarea>
                                    <div ng-messages="registroForm.estrategia_uno.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>2.</label>
                                    <textarea ng-model="vm.semillero.estrategia_dos" required name="estrategia_dos"></textarea>
                                    <div ng-messages="registroForm.estrategia_dos.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>3.</label>
                                    <textarea ng-model="vm.semillero.estrategia_tres" required name="estrategia_tres"></textarea>
                                    <div ng-messages="registroForm.estrategia_tres.$error">
                                        <div ng-message="required">Este campo es obligatorio.</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div flex layout="row" layout-align="center center">
                                <md-button ng-click="vm.registrar()" type="submit" class="md-raised md-accent submit-button" aria-label="Aceptar" ng-disabled="registroForm.$invalid || registroForm.$pristine">Aceptar
                                </md-button>
                                <md-button ng-click="vm.limpiar()" class="md-raised md-accent submit-button" aria-label="Cancelar">Cancelar
                                </md-button>
                            </div>
                        </form>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>